body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title-test {
    font-size: 40px;
}

.math-test {
    list-style-type: none;
    padding: 0;
    border: 1px solid;
}

.button-send {
    margin-top: 20px;
    margin-bottom: 10px;
}